@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --default-bgc: #0ea5e9;
  --default-bgc-dark: #0284c7;
  --default-bgc-darker: #0369a1;
  --yellow-200: #fde68a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(20%, 200px) 3fr 1fr;
  grid-template-rows: max(20vh, 150px) 80vh;

  
}



nav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  gap: 20px;

  color: white;
  font-weight: bold;

  background-color: var(--default-bgc);
}

h1 {
  padding-left: 5%;
}

nav > ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

aside {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

ul {
  list-style-type: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: inherit;
  color: inherit;
  vertical-align: -0.125em;
  fill: currentColor;

  padding-right: 10px;
}

.menu-item {
  height: 45px;
  padding-left: 5%;

  display: flex;
  align-items: center;
 }

.menu-item:hover {
  background-color: var(--default-bgc-dark);
}

.menu-item:active {
  background-color: var(--default-bgc-darker);
}

.wrapper > * {
  outline: auto;
}




header {
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
  
  margin: 10px 30px;

 
}

header > * {
  outline: auto;
}



.search {
  display: flex;
  align-items: center;
}


.search > input {
  display: block;
  width: 100%;
  margin: 0px 10px;

  border: none;
  background-color: #e2e8f0;
  border-radius: 30px;
  height: 30px;
  padding: 0px 20px;
}

.search button {
  border: none;
  background-color: white;
}


.profile-buttons {}

.welcome {}

.post-buttons {}

