@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --default-bgc: #0ea5e9;
    --default-bgc-dark: #0284c7;
    --default-bgc-darker: #0369a1;
    --default-light-color: #e2e8f0;
    --default-green: #22c55e;
    --default-shadow-color: #d1d1d1;
    --default-shadow-color-dark: #bbbbbb;
    --default-p-color: #64748b;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 3fr 1fr;
    grid-template-rows: 200px 100%;

    min-height: 100vh;
}

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 20px;

    color: white;
    font-weight: bold;

    background-color: var(--default-bgc);
}

h1 {
    padding-left: 5%;
    font-size: 2em;
}

nav > ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

main,
aside {
    background-color: var(--default-light-color);
    padding: 30px 20px;
}

aside {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

ul {
    list-style-type: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
    fill: currentColor;

    padding-right: 10px;
}

.menu-item {
    height: 45px;
    padding-left: 5%;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.menu-item:hover,
.post-button:hover {
    background-color: var(--default-bgc-dark);
}

.menu-item:active,
.post-button:active {
    background-color: var(--default-bgc-darker);
}

header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr;

    padding: 10px 30px;

    row-gap: 20px;

    box-shadow: 0px 5px 10px var(--default-shadow-color);

    position: relative;
}

.search {
    display: flex;
    align-items: center;
}

.search > input {
    display: block;
    width: 100%;
    margin: 0px 10px;

    border: none;
    background-color: var(--default-light-color);
    border-radius: 30px;
    height: 30px;
    padding: 0px 20px;
}

.search button {
    border: none;
    background-color: white;
    padding: 0;
    margin: 0;

    height: 25px;
    width: 25px;
}

.search button > img {
    height: 100%;
    width: auto;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.notification {
    padding: 0;
    height: 25px;
    width: 25px;
}

.profile-pic {
    width: 50px;
    border-radius: 50px;
}

.welcome-pic {
    width: 70px;
    height: 70px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.welcome {
    display: flex;
    gap: 15px;
    align-items: center;
}

.welcome-message {
    margin: 0;
    padding: 0;
    line-height: 20px;
    width: 100%;
}

.welcome-message::first-line {
    font-size: 0.7em;
}

.post-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.post-button {
    background-color: var(--default-bgc);
    border: none;
    width: 85px;
    height: 35px;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

h5 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: normal;
}

.project-cards {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    row-gap: 25px;
    column-gap: 35px;
    justify-items: center;
}

.project-card {
    background-color: white;
    height: 250px;
    width: 100%;
    border-radius: 10px;

    box-shadow: 5px 5px 10px var(--default-shadow-color);

    border-left: 10px solid var(--default-green);

    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}

h4 {
    margin: 10px 0px 5px 20px;
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: 1px;
}

.project-description {
    margin: 0px 20px;
    margin-top: 0;
    color: var(--default-p-color);
}

button {
    display: block;
}

.project-buttons {
    margin-right: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.project-icon {
    height: 30px;
    width: 30px;
}

.project-icon, .notification{
    margin: 0;
    padding: 5px;
    border-radius: 50px;
}

.project-icon:hover, .notification:hover {
    background-color: var(--default-shadow-color);
}

.project-icon:active, .notification:active {
    background-color: var(--default-shadow-color-dark);
}
